* {
    /* border: 1px solid rgb(227, 227, 248); */
    font-family: 'Montserrat', sans-serif;
}
.placards{
    height: 200px;
    background-image: url('../images/stay_fit.jpg');
    background-size: cover;
    position: relative;
}
.placards h5{
    position: relative;
    top: 50%;
}
ul{
    list-style: none;
}
