*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a{
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #164e99;
    box-shadow: 2px 2px 4px #29b45b;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
}

.logo{
    margin-left: 5%;
}

.logo_header{
    display: flex;
    margin-left: 2%;
}

.main_nav{
    display: flex;
    width: 50%;
    float: right;
    margin-right: 2%;
    justify-content: space-between;
    list-style: none;
    transition: 1s;
}

.main_nav li:hover{
    border-radius: 50px;
    cursor: pointer;
    padding: 1px 25px;
    box-shadow: 2px 2px 4px white;
}
.nav_links{
    display: inline;
    color: white;
}

.navbar_toggle{
    display: none;
}
.catalogue_container{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}

.catalogue{
    display: flex;
    align-items: center;
    width: 80%;

}
.catalogue1, .catalogue5, .catalogue3, .catalogue4{
    height: 200px;
    width: 300px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-family: 'Open sans', 'Courier New', Courier, monospace;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-weight: 200px;
}
.catalogue1{
    background-image: url(images/eat_healthy.jpg);
}

.catalogue3{
    background-image: url(images/see_a_doctor.jpg);
}
.catalogue4{
    background-image: url(images//stay_fit.jpg);
}
.catalogue5{
    background-image: url(images//stay_strong.jpg);
}
.about{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    border-bottom: 2px solid black;
    padding: 10px;
 }
 .about p {
    font-family: 'Open sans', 'Courier New', Courier, monospace;
    font-weight: 300;
    
 }
 .blank{
    background-color: #164e99;
    width: 100%;
    height: 100px;
 }
 .trending{
    margin-left: 160px;
    margin-top: 10px;
 }
 .trending a{
    font-family: 'Open sans', 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    color: black;
    font-weight: 200;
    font-size: 18px;
 }

 .trend1_pic, .trend2_pic, .trend3_pic, .trend4_pic{
    height: 300px;
    width: 400px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 10px;
 }
 .trend1_pic{ background-image: url(images/body_odour.jpg)}
 .trend2_pic{background-image: url(Images/pregnancy.jpg)}
 .trend3_pic{background-image: url(Images/coffee.jpg)}
 .trend4_pic{background-image: url(Images/water.jpg)}
 .trending h2{
    font-family: 'Open sans', 'Courier New', Courier, monospace;
    color: #164e99;
 }
 .trending p{
    font-family: 'Open sans', 'Courier New', Courier, monospace;
    width: 80%;
    font-size: 18px;
 }
 .trending p span{
    color: black; 
 } 
 footer{
    background-color: #164e99;
    padding: 50px;
    margin-top: 50px;
    color: white;

 }
 .footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
 }
 .left{
    display: flex;
    flex-direction: column;
    width: 50%;
 }
 .left img{
    width: 300px;
 }
 .left div{
    width: 350px;
 }
 .middle{
    list-style: none;
    width: 25%;
 }
 .middle ul{
    list-style: none;
 }
 .middle ul li{
    margin-top: 15px;
 }
 .right{
    list-style: none;
    width: 25%;
 }
 .right ul{
    list-style: none;
 }
 .right ul li{
    margin-top: 15px;
 }
























@media only screen and (max-width: 992px){
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #164e99;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
    font-family: 'Open Sans', 'Courier New', Courier, monospace;

}
.main_nav{
    display: none;
}
.show_nav{
    padding-top: 2%;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center; 
  align-items: center;
    font-size: 5x;
}
.main_nav li{
    width: 100%;
    height: 50px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    padding: 0%;
    font-family: 'Poppins', 'Courier New', Courier, monospace;

}
.main_nav li:hover{
    background-color: #29b45b;
    border-radius: 30px;
    cursor: pointer;
    padding: 0px 25px;
    box-shadow: 2px 2px 4px white;
    
}
.navbar_toggle{
    margin-left: 5%;
    display: block;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: white;
    font-size: 30px;
    transition: all 0.3s linear;
}
.logo_header{
    width: 100%;
    justify-content: space-between;
    margin-right: 10%;
}

.catalogue1, .catalogue3, .catalogue4{
    background-repeat: no-repeat;
    width: 90%;
    background-size: cover;
    margin-top: 10px;
    height: 100px;
    text-align: center;
    color: white;
    font-family: 'Open sans', 'Courier New', Courier, monospace;
    font-size: 40px;
    border-radius: 10px;
    
}
.catalogue1 {
    background-image: url(images/eat_healthy.jpg);
   
}
.catalogue2{
    background-image: url(images/stay_sane.jpg);
}
.catalogue3{
    background-image: url(images/see_a_doctor.jpg);
}
.catalogue4{
    background-image: url(images//stay_fit.jpg);
}
.catalogue{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.catalogue_container{
    display: block;
}
.catalogue5{
    display: none;
}
.catalogue_container{
    width: 100%;
    display: flex;
    align-items: center;
   
 }
 
 .catalogue{
     display: flex;
     align-items: center;
     width: 90%;
     justify-content: center;
 }
 .about{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    border-bottom: 2px solid;
    padding: 10px;

 }
 .about p {
    font-family: 'Open sans', 'Courier New', Courier, monospace;
    font-weight: 300;  
 }
 .trending{
    margin-left: 20px;
 }

 footer{
    background-color: #164e99;
    padding: 20px;
    margin-top: 50px;
    color: white;

 }
 .footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
 }
 .left{
    display: flex;
    flex-direction: column;
    width: 40%;
 }
 .left img{
    width: 100px;
    margin-bottom: 20px;
 }
 .left div{
    width: 150px;
 }
 .middle{
    list-style: none;
    width: 30%;
 }
 .middle ul{
    list-style: none;
 }
 .middle ul li{
    margin-top: 15px;
 }
 .right{
    list-style: none;
    width: 30%;
 }
 .right ul{
    list-style: none;
 }
 .right ul li{
    margin-top: 15px;
 }

    
 }
 


